.cards article{
    background: #fff;                  /* white card background */
    border: 1px solid #e0e0e0;         /* subtle border */
    border-radius: 16px;               /* rounded corners */
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* soft shadow */
    padding: 2rem;        

    max-width: 300px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    img{
        max-width: 100%;
        height:auto;
        display: block;
        max-height: 200px;
        margin: auto;
    }

    a{
        height: 100%;
        display:flex;
        flex-direction:column;
        h2 {
            font-size: 20px;
            margin-top: auto;
        }
    }
}

div.cards{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 79px !important ;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}